{
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
    "brace-style": [2, "1tbs"],
    "camelcase": [2, true],
    "no-mixed-spaces-and-tabs": 2,
    "no-spaced-func": [2, true],
    "quotes": [1, "single"],
    "space-after-keywords": [2, "always"],
    "space-in-brackets": [2, "never"],
    "space-infix-ops": [2, true],
    "valid-jsdoc": [0, true],
    "indent": [2, 2],
    "no-multiple-empty-lines": [2, {"max": 1}]
  },
  "globals": {
  }
}
